:root {
    --bg-dark: #4b4e6d;
    --bgNav-dark: #98a3b1;
    
}

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    line-height: 1.75rem;
    scroll-behavior: smooth;
    overflow-x: hidden;
}


body {
    min-height: 120vh;
    display: flex;
    flex-direction: column;
}



/*-------------------------------------- NAV ----------------------------------------------*/
.headerTemplate {
    border: black 1px solid;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 70px;
    background-color: white;
    z-index: 900;
}



.logo-main {
    width: 5vw;
    min-width: 70px;
    float: left;
    display: block;
    margin-right: 5px;
}


.stick>a,
.Name {
    float: right;
    display: flex;
    flex-direction: row;
    /* color: #f2f2f2; */
    text-align: center;
    padding: 22px 15px;
    text-decoration: none;
    font-size: 25px;
}


.Name {
    float: left;
}


.stick {
    position: absolute;
    top: 0;
    height: 100%;
    left: 6vw;
    overflow: hidden;
    /* background-color: #333; */
}


#navbar {
    background-color: lightgray;
    position: fixed;
    top: 10vh;
    width: 100%;

    transition: top 0.3s;
}

#navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 5px 35px;
    text-decoration: none;
    font-size: 17px;

}

#navbar a:hover {
    background-color: aliceblue;
    color: black;
}

.zoekbalk {
    float: right;
    margin: 18px 30px;
    border-radius: 5px;
    width: 15vw;
}

footer {
    height: 13vw;
    border-top: black 1px solid;
    background-color: aliceblue;
    margin-top: auto;
}

/* #region----------------------------------------- gamebanner slideshow----------------------------------------*/
#container {
    width: 100vw;
    height: 67vh;
    overflow: hidden;
    margin-top: 13vh;
}
#container>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

#banner1 {
    display: inline;
}

#banner2 {
    display: none;
}

#banner3 {
    display: none;

}

#textvak {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 7vw -23vh;
    width: 20vw;
    text-align: center;
}

/* #endregion */

#mainText {
    padding: 7vh 3vw;
}