:root {
    --bg-dark: #222;
    --bgNav-dark: #98a3b1;
    --highlight-dark: #84dcc6;
    
}

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    line-height: 1.75rem;
    scroll-behavior: smooth;
    overflow-x: hidden;
}


body {
    min-height: 120vh;
    display: flex;
    flex-direction: column;
}

#Home {
    color: white;
    background-color: var(--bg-dark);
}

/*-------------------------------------- NAV ----------------------------------------------*/
.headerTemplate {
    border: black 1px solid;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 70px;
    background-color: var(--bg-dark);
    z-index: 900;
}



.logo-main {
    width: 5vw;
    min-width: 70px;
    float: left;
    display: block;
    margin-right: 5px;
}


.stick>a,
.Name {
    float: right;
    display: flex;
    flex-direction: row;
    /* color: #f2f2f2; */
    text-align: center;
    padding: 22px 15px;
    text-decoration: none;
    font-size: 25px;
}


.Name {
    float: left;
}


.stick {
    position: absolute;
    top: 0;
    height: 100%;
    left: 6vw;
    overflow: hidden;
    /* background-color: #333; */
}


.navbar {
    background-color: var(--bgNav-dark);
    position: fixed;
    top: 10vh;
    width: 100%;

    transition: top 0.3s;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 5px 35px;
    text-decoration: none;
    font-size: 17px;

}

.navbar a:hover {
    background-color: aliceblue;
    color: black;
}

.zoekbalk {
    float: right;
    margin: 18px 50px;
    border-radius: 5px;
    width: 15vw;
    background-color: transparent;
    color:white;
    border: none;    
}

.zoekbalk > input {
    background-color: transparent;
}

.searchbtn {
    width: 4vw;
    font-size:23px;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 35px;
    top: 22px;
    color: white;
}

i.login{
    height: vh;
    position: absolute;
    right: 10px;
    top: 20px;     /*clipping, fix it*/
    font-size: 30px
}

footer {
    height: 13vw;
    border-top: var(--highlight-dark) 1px solid;
    background-color: transparent;
    margin-top: auto;
}

/* #region-----------------------------------------HOMEPAGE----------------------------------------*/
#container {
    width: 100vw;
    height: 67vh;
    overflow: hidden;
    margin-top: 13vh;
}
#container>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

#banner1 {
    display: inline;
}

#banner2 {
    display: none;
}

#banner3 {
    display: none;

}

#textvak {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 7vw -23vh;
    width: 20vw;
    text-align: center;
}



#mainText {
    padding: 7vh 3vw;
}

/* #endregion */