/* #region------------------------------COLOURS-------------------------- */
header.headerTemplate {
  background-color:#222222;
  position: sticky;
  top: 10;
  overflow: hidden;
  border-bottom: black 1px solid;
  padding-bottom: 2px;
  height: 10vh;
}

body.background {
  background-color: #222222;
}


/* region------------------------------------MAIN----------------------------------------------- */
article.logo {
  width: 5vw;
  min-width: 70px;
  float: left;
  display: block;
  margin-right: 5px;
  z-index: 100%;
}

img.cat {
  float: left;
  z-index: 100%;
}


.logo-main {
  width: 5vw;
  min-width: 70px;
  float: left;
  display: block;
  margin-right: 5px;
}

/* ------for all paragraphs--------- */
p {
  color: #ffffff;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1 {
  color: #4c7a72;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

span.footer-header2 {
  color: #79b1a8;
  text-decoration: underline;
  text-size-adjust: 30%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.merchs {
margin: 10px;
}

div.hat {
  float: right;
  margin: 5px 600px;
  position: absolute;
}

div.div {
color: #fefefe;
}

div.telephone {
  color: #fefefe;
  float: right;
  margin: 0px 600px;
  position: absolute;
}

/* region-------------------------------------FOOTER---------------------------------------- */
footer {
  position: sticky;
  bottom: 0%;
  height: 10vh;
  background-color: #222222;
  border-top: #4c7a72 2px solid;
}

a.foot {
  color: #4b897e;
  text-decoration: underline;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p.footp {
color: #646464;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-style: italic;
}
/* region----------------------------------NAV---------------------------------------- */
.topnav {
  overflow: hidden;
  background-color: #4c7a72;
}

.topnav a {
  float: left;
  display: block;
  color: #222222;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: sans-serif;
}

.topnav a:hover {
  background-color: #659d93;
  color: #222222;
}

.topnav a.active {
  color: #222222;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  background-color: #222222;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #79b1a8;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #4b897e;
}